img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: proxima-nova, sans-serif;
  color: var(--mine);
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: all .25s ease;
}

ul {
  padding-left: 18px;
}

*[class$=-inner] {
  padding: 0 1em;
  margin: 0 auto;
  @media(--md) {
    max-width: 80%;
  }
}